<!-- CONTACTO -->
<footer id="contact" class="contact">
    <div>
        <h3>Asi puedes contactarlo</h3>
        <div class="contact-links">
            <ul>
                <li><a href="https://twitter.com/Gaspar_string">
                    <i class="fa-brands fa-twitter"></i>
                </a></li>
                <li><a a href="mailto:cristiangonzz@gmail.com? subject=subject text" target="_blank">
                    <i class="fa-solid fa-envelope"></i>
                </a></li>
                <li><a a href="https://www.instagram.com/gaspar_noeh/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a></li>
            </ul>
        </div>
    </div>
</footer>
