<!-- ESTUDIOS -->
<section id="estudios" class="estudios">
    <h1 class="estudios-title">
        ¿QUE HA ESTUDIADO?
    </h1>
    <p class="estudios-date">
        De Argentina Programa a una educación continua para el éxito en el mundo
    </p>
    <p class="estudios-date">
        Junio 1, 2023
    </p>
    <div class="estudios-text">
        <p class="first-parrafo">
            Gaspar ha demostrado una pasión inquebrantable por la programación y un deseo constante de
            ampliar sus conocimientos en este campo en constante evolución. Desde su exitoso paso por Argentina
            Programa, ha estado trabajando diligentemente para complementar su educación inicial y fortalecer aún
            más sus habilidades como programador.
            <br>
            En el período comprendido entre 2022 y 2023, Gaspar se dedicó a cursar Argentina Programa, un programa
            de renombre que lo llevó a obtener el título de Web Full Stack Jr. Durante este tiempo, se sumergió en
            una amplia variedad de tecnologías y adquirió habilidades clave que incluyen <i class="resalt">Html,
                Css, JavaScript,
                TypeScript, Angular, Firebase, Java, Spring, APIs, Render, MySql y CleverCloud</i>, entre otras. La
            rigurosa
            formación le permitió desarrollar una base sólida y versátil en programación.
            <br>
            En febrero de 2023, Gaspar presentó su proyecto final en Argentina Programa, marcando el final de una
            etapa y el comienzo de un nuevo capítulo en su carrera. Al día siguiente, no perdió tiempo y se unió a
            FreeCodeCamp para complementar su educación inicial y llenar los vacíos que una formación acelerada pudo
            haber dejado en su currículum. Fue en FreeCodeCamp donde se embarcó en el curso <i
                class="resalt">"Responsive Design"</i>, que
            le permitió reforzar sus habilidades en Html, Css y mejorar su enfoque en la presentación de proyectos
            hacia los clientes.
            <br>
            La búsqueda incansable de conocimiento de Gaspar no se detuvo allí. Reconociendo la importancia
            fundamental de JavaScript y las estructuras de datos en el campo de la programación, se inscribió en el
            curso <i class="resalt">"JavaScript and Data Estructure"</i> en FreeCodeCamp. Este curso le brindó una
            comprensión sólida y
            generalizada del lenguaje de programación, sentando las bases para su crecimiento continuo como
            profesional en el área.
            <br>
            Además, Gaspar se embarcó en una especialización en <i class="resalt">"JavaScript e interacciones con el
                DOM"</i> en Codigo
            Facilito. Esta especialización le permitió adquirir conocimientos más profundos sobre la interacción de
            JavaScript con el Document Object Model (DOM), lo que le brinda la capacidad de incorporar de manera más
            eficiente y efectiva código de este tipo en sus proyectos.
            <br>
            Actualmente, Gaspar está aplicando todos los conocimientos adquiridos en una serie de proyectos que le
            permiten demostrar su experiencia y habilidades. Está decidido a perfeccionar su conocimiento y
            experiencia como Backend Developer en el futuro cercano.
            <br>
            La dedicación de Gaspar a su desarrollo profesional es ejemplar. Su determinación por ampliar sus
            habilidades y buscar una educación continua en el campo de la programación demuestra su compromiso con
            la excelencia y su deseo de destacarse en la industria.
        </p>
    </div>
</section>
