<!-- HERO -->
<section id="hero" class="hero">
    <div class="hero-text">
        <h1>Hola, él es Jesús Christián</h1>
        <h3>Web Full Stack Jr.</h3>
        <ul>
            <li><a href="https://www.linkedin.com/in/jesus-christian-gonzalez-78b260184/" target="_blank">
                    <i class="fa-brands fa-linkedin"></i>
                </a></li>
            <li><a href="https://www.instagram.com/gaspar_noeh/" target="_blank">
                    <i class="fa-brands fa-instagram"></i>
                </a></li>
            <li><a href="https://github.com/ChrisZZG?tab=repositories" target="_blank">
                <i class="fa-brands fa-github"></i>
                </a></li>
        </ul>
    </div>
    <div class="hero-img">
        <img src="../../../assets/hero.png" alt="">
    </div>
</section>
