<!-- NAV BAR -->
<header>
    <div class="logo">
        My Portfolio
    </div>
    <div class="hamburger" (click)="onClick()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>
                <a href="#hero" class="active">Home</a>
            </li>
            <li>
                <a href="#sobremi">Sobre Él</a>
            </li>
            <li>
                <a href="#estudios">Estudios</a>
            </li>
            <li>
                <a href="#proyectos">Proyectos</a>
            </li>
            <li>
                <a href="#contact">Contacto</a>
            </li>
            <li>
                <a href="#">LogIn</a>
            </li>
        </ul>
    </nav>
</header>
