<!-- PROYECTOS -->
<section id="proyectos" class="proyectos">
    <h1 class="proyectos-title">
        SUS PROYECTOS
    </h1>
    <div class="proyectos-grid">
        <div class="proy-first">
            <img src="../../../assets/gallery1.jpg" alt="">
            <div class="proy-first-text">
                 <p>Página diseñada como proyecto para subir parte de las Ilustraciones realizadas por Gaspar.
            </p>
            <a href="https://thehouseofartg.web.app" target="_blank">
                Web
            </a>
            </div>
           
        </div>
        <div class="proy-two">
            <img src="../../../assets/gallery2.png" alt="">
            <div class="proy-first-text">
                 <p>Página con la cual Gaspar buscaba darse a conocer como FreeLancer.
            </p>
            <a href="https://gasparwebservice.web.app" target="_blank">
                Web
            </a>
            </div> 
        </div>
        <div class="proy-third">
            <img src="../../../assets/gallery3.jpg" alt="">
            <div class="proy-first-text">
                 <p>Página de tipo portfolio para una bailarina de Republica Dominicana.
            </p>
            <a href="https://giulianaweb-c0c35.web.app" target="_blank">
                Web
            </a>
            </div> 
        </div>
        <div class="proy-four">
            <img src="../../../assets/gallery4.jpg" alt="">
            <div class="proy-first-text">
                 <p>Primera versión del Portfolio de Gaspar, realizado como Proyecto final de Argentina Programa.
            </p>
            <a href="https://portfoliocg-df90e.web.app" target="_blank">
                Web
            </a>
            </div> 
        </div>
    </div>
</section>
