    <!-- SOBRE MI -->
    <section id="sobremi" class="sobremi">
        <h1 class="sobremi-title">
            ¿QUIEN ES?
        </h1>
        <p class="sobremi-subtitle">
            Lidiar con la dificultad solo requiere un desafío intelectual.
        </p>
        <p class="sobremi-date">
            De Químico a Programador Apasionado
        </p>
        <p class="sobremi-date">
            Junio 1, 2023
        </p>

        <div class="sobremi-text">
            <p class="first-parrafo">
                En un giro sorprendente de eventos, Jesús Christ, también conocido como Gaspar, dejó su carrera como
                químico para embarcarse en un emocionante viaje como programador. Su determinación y pasión por la
                resolución de problemas lo llevaron a descubrir su verdadera vocación y a destacarse en el mundo de la
                programación.
                <br>
                Gaspar inicialmente siguió una carrera en química y se especializó en
                regulación alimentaria en la prestigiosa Universidad Nacional de Cuyo, en Argentina. Durante sus
                estudios, trabajó en su tesis, donde se enfrentó a la necesidad de acceder a la normativa vigente en el
                campo de la alimentación en su país. Fue en este momento crucial que comenzó a percibir la importancia
                de las herramientas tecnológicas para acceder y aplicar la normativa de manera eficiente.
                <br>
                Después de graduarse, Gaspar fue galardonado con una beca para estudiar programación en el Proyecto
                Argentina Programa. Aquí, dio sus primeros pasos en el mundo de la programación como Web Full Stack Jr.
                y descubrió que era su verdadera pasión. A diferencia de su experiencia en la ciencia, donde a menudo
                tenía que confiar en teorías, en el campo de la programación podía aplicar y verificar instantáneamente
                lo que aprendía.
                <br>
                Durante un año de intenso estudio y superando con éxito todos los desafíos que se le presentaron, Gaspar
                completó su carrera en programación. Pero no se detuvo allí. Movido por su sed de conocimiento, se
                embarcó en una serie de certificaciones para complementar aún más sus habilidades. Se sumergió en el
                mundo del Responsive Design, JavaScript, DOM, Angular y Java, lo que amplió enormemente su conjunto de
                habilidades y lo convirtió en un programador altamente versátil.
                <br>
                En su trayectoria, Gaspar siempre ha abordado la dificultad como un desafío intelectual. Nunca consideró
                que los obstáculos fueran insuperables, sino como oportunidades para crecer y adquirir nuevos
                conocimientos. Su mentalidad perseverante le ha permitido enfrentar cada desafío con determinación y
                encontrar soluciones innovadoras.
                <br>
                Hoy en día, Gaspar continúa perfeccionando sus habilidades y expandiendo su conocimiento en el campo de
                la programación. Su pasión por el aprendizaje y su capacidad para convertir cualquier obstáculo en un
                desafío intelectual han sido los pilares de su éxito.
                <br>
                En resumen, la historia de Gaspar es un testimonio inspirador de cómo seguir tu pasión puede llevarte
                por caminos inesperados. Su transición de químico a programador demuestra que nunca es demasiado tarde
                para descubrir y perseguir tu verdadera vocación. Gaspar ha demostrado que la determinación y la
                disposición para enfrentar desafíos pueden abrir puertas a un mundo lleno de posibilidades emocionantes.
                <br>
                Desde aquí, queremos agradecer a todos los lectores por tomarse el tiempo de conocer la inspiradora
                historia de Gaspar.
            </p>


        </div>
    </section>
